@import '../../../styles/variables.scss';

.checkbox {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 40px;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    & label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    & label::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 2px solid $color-blue;
    }

    & input:checked+label::before {
        background-color: $color-blue;
        background-image: url('../../../../public/img/checkbox.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 10px;
        background-position: center;
    }

    & input:disabled+label::before {
    border-color: $color-dark-gray;
    }

    & input:disabled+label {
        cursor: auto;
    }

    & input:focus+label::before {
        outline: 1px solid $color-blue;
    }
}