*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 $spacing-lg;
    font-family: $font-family;
    font-size: $fs-text-md;
    font-weight: $fw-regular;
    line-height: $lh-text-md;
    color: $color-black;
    background-color: $color-white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    font-size: $fs-text-md;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container {
    margin: 0 auto;
    max-width: $max-width-desktop;
    min-width: $min-width-desktop;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

@media (max-width: 1199px) {
    body {
        margin: 0 $spacing-sm;
    }

    .container {
        max-width: $max-width-tablet;
        min-width: $min-width-tablet;
    }

    .main-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 735px) {
    body {
        margin: 0 $spacing-xxs;
    }

    .container {
        max-width: $max-width-mobile;
        min-width: $min-width-mobile;
    }

    .main-container {
        display: block;
    }
}

.section {
    margin-bottom: $spacing-section;
}

.section-header {
    font-size: $fs-header-lg;
    font-weight: $fw-bold;
    line-height: $lh-header-lg;
    margin-bottom: $spacing-md;
}

.section-subheader {
    font-size: $fs-header-md;
    font-weight: $fw-medium;
    line-height: $lh-header-md;
    margin-bottom: $spacing-md;
}

@media (max-width: 1199px) {
    .section-header {
        margin-bottom: $spacing-xs;
    }
    .section-subheader {
        margin-bottom: $spacing-xs;
    }
}

@media (max-width: 735px) {
    .section {
        margin-bottom: $spacing-section-m;
    }

    .section-header {
        font-size: $fs-header-lg-m;
        line-height: $lh-header-lg-m;
        margin-bottom: $spacing-sm;
    }
    
    .section-subheader {
        font-size: $fs-header-md-m;
        line-height: $lh-header-md-m;
    }

    .section-subheader {
        margin-bottom: $spacing-xs;
    }
}
















