@import '../../../styles/variables.scss';

.accardeon {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-blue;

    &.active .accardeon__info{
        color: $color-blue;
    }
    
    &.active .accardeon__text {
        max-height: none;
        margin: 24px 0 15px;
    }
    
    &.active .accardeon__icon {
        transform: rotate(180deg);
    }
}

.accardeon__info {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    color: $color-gray;
    font-weight: $fw-bold;
    transition: color $transition;
    cursor: pointer;
    
    &:hover,
    &:focus {
        color: $color-black;
        outline: none;
    }
}


.accardeon__text {
    max-height: 0;
    overflow: hidden;
    transition: $transition;
}

.accardeon__icon {
    position: absolute;
    right: 0;
    top: 50%;
    height: 6px;
    width: 9px;
    background-image: url('../../../../public/img/arrow.svg');
    background-position: center center;
    background-size: cover;
}