@import '../../styles/variables.scss';

.header {
    margin-bottom: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 48px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 40px;
        height: 40px;
        margin-right: 24px;
        position: relative;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center center;
    }

    &__img::after {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #FF3A62;
    }

    &__title,
    &__subtitle {
        font-size: $fs-text-sm;
        line-height: $lh-text-sm;
    }

    &__title {
        font-weight: $fw-bold;
    }

    &__subtitle {
        color: $color-gray;
    }
}

.burger {
    height: 10px;
    width: 32px;
    position: relative;
    left: 0;
    top: 0;
    transition: transform $transition;

    &:hover {
        transform: scale(0.9);
    }

    &__line {
        display: block;
        position: absolute;
        right: 0;
        height: 2px;
        background-color: $color-black;
    }

    &__line:first-child {
        top: 0;
        left: 0;
    }

    &__line:last-child {
        bottom: 0;
        left: 8px;
    }
}