.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: $spacing-section 0 $spacing-md;
}

@media (max-width: 1199px) {
    .footer {
        margin: 0 0 $spacing-md;
    }
}

@media (max-width: 735px) {
    .footer {
        margin: 0 0 $spacing-xs;
    }
}