.input-box {
    position: relative;
    top: 0;
    left: 0;

    &_hover input {
        border-color: $color-blue !important;
    }

    &_active input {
        border-bottom: 4px solid $color-blue !important;
    }
    
    & input {
        width: 100%;
        border: none;
        border-bottom: 2px solid $color-dark-gray;
        padding-bottom: 6px;
        transition: border-color $transition;
    }
    
    & input:hover {
        border-color: $color-blue;
    }
    
    & input:focus {
        outline: none;
        border-bottom: 4px solid $color-blue;
    }
    
    &__placeholder {
        position: absolute;
        left: 0;
        bottom: 6px;
    }
    
    & input:focus ~ &__placeholder,
    & input:valid ~ &__placeholder{
        transform: translateY(-20px);
        font-size: 12px;
        color: $color-gray;
    }

    &__error {
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: -30px;
        font-size: $fs-text-sm;
    }

    &_invalid &__placeholder{
        transform: translateY(-20px);
        font-size: 12px;
    }

    &_invalid input {
        border-bottom: 4px solid $color-red !important;
    }

    &_invalid span {
        color: $color-red !important;
        opacity: 1;
    }
}

.select {
    position: relative;
    left: 0;
    top: 0;
    
    &__header {
        border-bottom: 2px solid $color-dark-gray;
        padding-bottom: 6px;
        transition: border-color $transition;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    
    &__header:hover, &__header:focus {
        border-color: $color-blue;
        outline: none;
    }

    &__icon {
        position: absolute;
        right: 0;
        bottom: 12px;
        width: 9px;
        height: 6px;
        background-image: url('../img/svgicons/arrow.svg');
        background-position: center center;
        background-size: cover;
    }
    
    &__body {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-white;
        z-index: 300;
    }
    
    &__option {
        padding: 8px 24px;
        cursor: pointer;
        transition: background-color $transition, color $transition;
        width: 100%;
        text-align: left;
    }
    
    &__option:hover, &__option:focus {
        background-color: $color-blue;
        color: $color-white;
        outline: none;
    }
    
    &__option_active {
        color: $color-blue;
    }
    
    &__option:not(:last-child) {
        margin-bottom: 16px;
    }

    &_active &__body {
        display: block;
    }

    &_active &__header {
        border-bottom-color: $color-blue;
    }
    
    &_active &__icon {
        transform: rotate(180deg);
    }
}

.button {
    padding: 16px 32px;
    position: relative;
    left: 0;
    top: 0;
    background-image: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
    border-radius: 32px;
    color: $color-white;
    transition: opacity .3s ease-in;
    z-index: 100;
    max-width: 148px;

    &_hover {
        background-image: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
    }

    &_active {
        background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
    }

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
        border-radius: 32px;
        z-index: -100;
        opacity: 0;
        transition: opacity .3s ease-in;
    }

    &:hover, &:focus  {
        outline: none;
        &::before {
            opacity: 1;
        }
    }

    &:active {
        background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
        &::before {
            opacity: 0;
        }
    }

    &:disabled {
        background: #CBCBCC;
        cursor: auto;
        &::before {
            opacity: 0;
        }
    }
}

.checkbox {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 40px;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    & label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    & label::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 2px solid $color-blue;
    }

    & input:checked+label::before {
        background-color: $color-blue;
        background-image: url('../img/svgicons/checkbox.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 10px;
        background-position: center;
    }

    & input:disabled+label::before {
    border-color: $color-dark-gray;
    }

    & input:disabled+label {
        cursor: auto;
    }

    & input:focus+label::before {
        outline: 1px solid $color-blue;
    }
}

.radio {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 40px;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    & label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    & label::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $color-blue;
    }

    & label::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 8px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color-blue;
        opacity: 0;
    }

    & input:checked+label::after {
        opacity: 1;
    }

    & input:disabled+label::before {
    border-color: $color-dark-gray;
    }

    & input:disabled+label {
        cursor: auto;
    }

    & input:focus+label::before {
        outline: 1px solid $color-blue;
    }
}

.accardeon {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-blue;

    &__info {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        text-align: left;
        color: $color-gray;
        font-weight: $fw-bold;
        transition: color $transition;
        cursor: pointer;
    }

    &__info_active {
        color: $color-blue !important;
    }

    &__info:hover,
    &__info:focus {
        color: $color-black;
        outline: none;
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        transition: $transition;
    }

    &__text_active {
        max-height: none;
        margin: 24px 0 15px;
    }
      
    &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    height: 6px;
    width: 9px;
    background-image: url('../img/svgicons/arrow.svg');
    background-position: center center;
    background-size: cover;
    }

    &__icon_active {
        transform: rotate(180deg);
    }
}

.tabs {
    &__btns-block {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        padding-bottom: 14px;
        border-bottom: 1px solid $color-light-gray;
        margin-bottom: $spacing-md;
    }

    &__btn:not(:last-child) {
        margin-right: 32px;
    }

    &__btn {
        color: $color-gray;
        transition: color $transition;
        font-weight: $fw-bold;
    }

    &__btn_active {
        color: $color-black;
    }

    &__content {
        display: none;
    }

    &__content_active {
        display: block;
        animation: tabAction 1s; 
    }

    @keyframes tabAction {
    from {opacity: 0;}
    to {opacity: 1;}
    }

    &__marker {
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 66px;
        height: 2px;
        background-color: $color-blue;
        transition: transform $transition;
    }
}

@media (max-width: 1199px) {
    .tabs {
        &__btns-block {
            margin-bottom: $spacing-xs;
        }
    }
}

@media (max-width: 735px) {
    .tabs {
        &__btns-block {
            margin-bottom: $spacing-xxs;
        }
    }
    
}