
$spacing-section: 80px;
$spacing-section-m: 50px;
$spacing-lg: 64px;
$spacing-md: 48px;
$spacing-sm: 32px;
$spacing-xs: 24px;
$spacing-xxs: 16px;

$max-width-desktop: 1312px;
$min-width-desktop: 1072px;

$max-width-tablet: 928px;
$min-width-tablet: 672px;

$max-width-mobile: 424px;
$min-width-mobile: 296px;

$color-black: #1B1B1B;
$color-white: #fff;
$color-gray: #7D7D7D;
$color-light-gray: #CBCBCC;
$color-dark-gray: #AEADAE;
$color-blue: #3E29E3;
$color-red: #E80F3B;
$color-grid-bg: #F6F6F6;
$color-body-bg: #F2F2F2;

$font-family: 'GraphikLCG','Times New Roman', Times, serif;

$fs-header-extra-lg: 48px;
$fs-header-lg: 32px;
$fs-header-md: 24px;
$fs-header-sm: 18px;
$fs-text-lead: 24px;
$fs-text-lg: 18px;
$fs-text-md: 16px;
$fs-text-sm: 14px;

$lh-header-extra-lg: 56px;
$lh-header-lg: 40px;
$lh-header-md: 32px;
$lh-header-sm: 28px;
$lh-text-lead: 32px;
$lh-text-lg: 28px;
$lh-text-md: 24px;
$lh-text-sm: 20px;

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

$transition: .3s;

$max-width-text: 592px;

$fs-header-extra-lg-m: 32px;
$fs-header-lg-m: 28px;
$fs-header-md-m: 20px;

$lh-header-extra-lg-m: 40px;
$lh-header-lg-m: 36px;
$lh-header-md-m: 28px;




